# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env
**/.env

# Databases
*.db
*.sqlite3

# ADK
.adk/

# VS Code
.vscode/

# JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Old backend
backend_old/